# filtering food data

In [96]:
import pandas as pd

In [97]:
food = pd.read_csv('fooddata.csv')
food.head()

,Category,Description,Nutrient Data Bank Number,Data.Alpha Carotene,Data.Beta Carotene,Data.Beta Cryptoxanthin,Data.Carbohydrate,Data.Cholesterol,Data.Choline,Data.Fiber,...,Data.Major Minerals.Phosphorus,Data.Major Minerals.Potassium,Data.Major Minerals.Sodium,Data.Major Minerals.Zinc,Data.Vitamins.Vitamin A - RAE,Data.Vitamins.Vitamin B12,Data.Vitamins.Vitamin B6,Data.Vitamins.Vitamin C,Data.Vitamins.Vitamin E,Data.Vitamins.Vitamin K
0,Milk,"Milk, human",11000000,0,7,0,6.89,14,16.0,0.0,...,14,51,17,0.17,61,0.05,0.011,5.0,0.08,0.3
1,Milk,"Milk, NFS",11100000,0,4,0,4.87,8,17.9,0.0,...,103,157,39,0.42,59,0.56,0.060,0.1,0.03,0.2
2,Milk,"Milk, whole",11111000,0,7,0,4.67,12,17.8,0.0,...,101,150,38,0.41,32,0.54,0.061,0.0,0.05,0.3
3,Milk,"Milk, low sodium, whole",11111100,0,7,0,4.46,14,16.0,0.0,...,86,253,3,0.38,29,0.36,0.034,0.9,0.08,0.3
4,Milk,"Milk, calcium fortified, whole",11111150,0,7,0,4.67,12,17.8,0.0,...,101,150,38,0.41,32,0.54,0.061,0.0,0.05,0.3

In [98]:
food = food[['Category']].drop_duplicates()
food.head()

          Category
0             Milk
16      Buttermilk
20           Kefir
21     Goat's milk
31  Non-dairy milk

In [99]:
food = food.rename(columns={'Category': 'name'})
food.head()

              name
0             Milk
16      Buttermilk
20           Kefir
21     Goat's milk
31  Non-dairy milk

In [100]:
food = food.sort_values(by="name")

In [101]:
food = food.reset_index(drop=True)
food.head()

                             name
0                   100 GRAND Bar
1                3 MUSKETEERS Bar
2  3 Musketeers Truffle Crisp Bar
3                         Abalone
4                           Adobo

In [102]:
food = food.reset_index(drop=False)
food.head()

   index                            name
0      0                   100 GRAND Bar
1      1                3 MUSKETEERS Bar
2      2  3 Musketeers Truffle Crisp Bar
3      3                         Abalone
4      4                           Adobo

In [103]:
food.to_csv("food.csv", index=False)